:root {
    --color-bg: hsl(193, 50%, 5%);
    --color-white: hsl(100, 99%, 99%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.canvas,
.start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.start,
.end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-bg);
    color: var(--color-white);
    height: 100vh;
    width: 100%;
}

.start__title,
.end__title {
    margin-bottom: 2rem;
}

.infos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    color: var(--color-white);
    font-size: .75rem;
    opacity: .5;
    align-items: center;
    justify-content: space-between;
}

.level-start {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-bg);
    color: var(--color-white);
    height: 100vh;
    width: 100%;
}
